@model IEnumerable<Client>

@{
    ViewData["Title"] = "Clients";
}
<h2>Clients</h2>

<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>@Html.DisplayNameForInnerType((Client i) => i.FirstName)</th>
            <th>@Html.DisplayNameForInnerType((Client i) => i.LastName)</th>
            <th>@Html.DisplayNameForInnerType((Client i) => i.Email)</th>
            <th>@Html.DisplayNameForInnerType((Client i) => i.Phone)</th>
            <th>@Html.DisplayNameForInnerType((Client i) => i.BirthNumber)</th>
            <th>@Html.DisplayNameForInnerType((Client i) => i.Birthday)</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>@item.BirthNumber</td>
                <td>@Html.DisplayFor(modelItem => item.Birthday)</td>

                <td>
                    <div class="d-flex gap-1">
                        <a asp-action="Show" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">
                            <i class="fa-solid fa-eye"></i> <span class="d-none d-lg-inline">Detail</span>
                        </a>

                        @* TODO: replace this with Edit action *@
                        <a asp-action="Show" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm">
                            <i class="fa-solid fa-pen-to-square"></i> <span class="d-none d-lg-inline">Edit</span>
                        </a>

                        <form asp-action="Delete" asp-route-id="@item.Id" class="d-inline" data-confirm-form>
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-outline-danger btn-sm">
                                <i class="fa-solid fa-trash"></i> <span class="d-none d-lg-inline">Delete</span>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>


@section Scripts
{
    <script>
        protectDeleteForm("form[data-confirm-form]");
    </script>
}