@model Consultant

@{
    ViewData["Title"] = "Consultant Detail";
}

<b>Consultant</b>
<h2>@Model.FullName</h2>
<p class="user-select-all text-body-secondary">@Model.Id.ToString()</p>

<dl>
    <dt>@Html.DisplayNameForInnerType((Consultant i) => i.Email)</dt>
    <dd>@Model.Email</dd>
    
    <dt>@Html.DisplayNameForInnerType((Consultant i) => i.Phone)</dt>
    <dd>@Model.Phone</dd>
    
    <dt>@Html.DisplayNameForInnerType((Consultant i) => i.BirthNumber)</dt>
    <dd>@Model.BirthNumber</dd>
    
    <dt>@Html.DisplayNameForInnerType((Consultant i) => i.Birthday)</dt>
    <dd>@Html.DisplayFor(model => Model.Birthday)</dd>
    
    <dt>@Html.DisplayNameForInnerType((Consultant i) => i.Age)</dt>
    <dd>@Model.Age</dd>
    
    <dt>Number of contracts (as admin)</dt>
    <dd>@Model.AdministeredContracts.Count</dd>
    
    <dt>Number of contracts (as participant)</dt>
    <dd>@Model.ParticipatingContracts.Count</dd>
</dl>