@model Consultant

@{
    ViewData["Title"] = "Consultant Show";
}

<b>Consultant</b>
<h2>@Model.FullName</h2>

<dl>
    <dt>@Html.DisplayNameForInnerType((Consultant i) => i.FirstName)</dt>
    <dd>@Model.FirstName</dd>
    
    <dt>@Html.DisplayNameForInnerType((Consultant i) => i.LastName)</dt>
    <dd>@Model.LastName</dd>
</dl>