@model BlogicCRM.Models.ViewModels.InstitutionIndexViewModel

@{
    ViewData["Title"] = "Institutions";
}
<h2>Institutions</h2>

<form asp-action="Index" method="post" class="row gx-1 gy-2 row-cols-md-auto mb-3">
    @Html.AntiForgeryToken()
    <div class="col-12">
        <label asp-for="NewInstitutionName" class="visually-hidden">New institution name</label>
        <input type="text" asp-for="NewInstitutionName" placeholder="New institution name..."
               class="form-control"/>
        <span asp-validation-for="NewInstitutionName" class="text-danger"></span>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Add Institution</button>
    </div>
</form>

<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameForInnerType((Institution i) => i.Id)</th>
        <th>@Html.DisplayNameForInnerType((Institution i) => i.Name)</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var item in Model.Institutions)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    }
    </tbody>
</table>