@model InstitutionIndexViewModel

@{
    ViewData["Title"] = "Institutions";
}
<h2>Institutions</h2>

<form asp-action="Index" method="post">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label asp-for="NewInstitutionName" class="form-label">New institution name</label>
        <input type="text" asp-for="NewInstitutionName" placeholder="Some institution name..."
               class="form-control"/>
        <span asp-validation-for="NewInstitutionName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add institution</button>

</form>

<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameForInnerType((Institution i) => i.Id)</th>
        <th>@Html.DisplayNameForInnerType((Institution i) => i.Name)</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var item in Model.Institutions)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    }
    </tbody>
</table>