@model BlogicCRM.Models.ViewModels.ContractFormViewModel

@{
    ViewData["Title"] = "Create Contract";
}

<div class="mx-auto">

    <h2>Create Contract</h2>
    
    <form asp-action="Edit" method="post">
        @Html.AntiForgeryToken()
        
        <input class="visually-hidden" type="hidden" asp-for="Id" />
        
        <div class="mb-3">
            <label asp-for="ClientId" class="form-label required">Client</label>

            <select asp-for="ClientId" id="clientSelect" class="form-control" required="">
                <option></option>
                @foreach (var c in Model.Clients)
                {
                    <option value="@c.Id">@($"{c.FullName} ({c.Email})")</option>
                }
            </select>

            <span asp-validation-for="ClientId" class="text-danger"></span>
        </div>
        
        <div class="mb-3">
            <label asp-for="AdminId" class="form-label required">Contract Administrator</label>

            <select asp-for="AdminId" id="consultantSelect" class="form-control" required="">
                <option></option>
                @foreach (var c in Model.Consultants)
                {
                    <option value="@c.Id">@($"{c.FullName} ({c.Email})")</option>
                }
            </select>

            <span asp-validation-for="AdminId" class="text-danger"></span>
        </div>
        
        <div class="mb-3">
            <label asp-for="InstitutionId" class="form-label required">Institution</label>

            <select asp-for="InstitutionId" id="institutionSelect" class="form-control" required="">
                <option></option>
                @foreach (var i in Model.Institutions)
                {
                    <option value="@i.Id">@i.Name</option>
                }
            </select>

            <span asp-validation-for="InstitutionId" class="text-danger"></span>
        </div>

        
        <div class="mb-3">
            <label asp-for="ConsultantIds" class="form-label">Consultants</label>

            <select asp-for="ConsultantIds" id="consultantsSelect" class="form-control" multiple="">
                @foreach (var c in Model.Consultants)
                {
                    <option value="@c.Id">@c.FullName</option>
                }
            </select>

            <span asp-validation-for="ConsultantIds" class="text-danger"></span>
        </div>
        
        
        <div class="mb-3">
            <label asp-for="CreatedDate" class="form-label">Date of creation</label>
            <input type="date" asp-for="CreatedDate" class="form-control" />
            <span asp-validation-for="CreatedDate" class="text-danger"></span>
        </div>
        
        <div class="mb-3">
            <label asp-for="EffectiveDate" class="form-label">Date of creation</label>
            <input type="date" asp-for="EffectiveDate" class="form-control" />
            <span asp-validation-for="EffectiveDate" class="text-danger"></span>
        </div>
        
        <div class="mb-3">
            <label asp-for="ClosingDate" class="form-label">Date of creation</label>
            <input type="date" asp-for="ClosingDate" class="form-control" />
            <span asp-validation-for="ClosingDate" class="text-danger"></span>
        </div>
        
        <button type="submit" class="btn btn-primary">Save</button>

    </form>

</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#clientSelect").select2({
                placeholder: "Select a client",
            });
            $("#consultantSelect").select2({
                placeholder: "Select a consultant",
            });
            $("#institutionSelect").select2({
                placeholder: "Select an institution",
            });
            $("#consultantsSelect").select2({
                multiple: true,
            });
        });
    </script>
}
