@model PaginatedList<Contract>

@{
    ViewData["Title"] = "Contracts";
}
<h2>Contracts</h2>

<div class="mb-3">
    <a asp-controller="Contracts" asp-action="Create" class="btn btn-primary">Create New Contract</a>
</div>

<div class="table-responsive">

    <table class="table table-striped ">
        <thead>
        <tr>
            <th>@Html.DisplayNameForInnerType((Contract i) => i.Client)</th>
            <th>@Html.DisplayNameForInnerType((Contract i) => i.Admin)</th>
            <th>@Html.DisplayNameForInnerType((Contract i) => i.Created)</th>
            <th>@Html.DisplayNameForInnerType((Contract i) => i.Effective)</th>
            <th>@Html.DisplayNameForInnerType((Contract i) => i.Closed)</th>
            <th>@Html.DisplayNameForInnerType((Contract i) => i.Institution)</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Client.FullName</td>
                <td>@item.Admin.FullName</td>
                <td>@Html.DisplayFor(modelItem => item.Created)</td>
                <td>@Html.DisplayFor(modelItem => item.Effective)</td>
                <td>@Html.DisplayFor(modelItem => item.Closed)</td>
                <td>@item.Institution.Name</td>
                <td class="">
                    <a asp-action="Show" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">
                        <i class="fa-solid fa-eye"></i> Detail
                    </a>

                    <a asp-action="Show" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm">
                        <i class="fa-solid fa-pen-to-square"></i> Edit
                    </a>
                    
                    <form asp-action="Delete" asp-route-id="@item.Id" class="d-inline" id="contractDeleteForm">
                        <button type="submit" class="btn btn-outline-danger btn-sm">
                            <i class="fa-solid fa-trash"></i> Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item @prevDisabled">
            <a class="page-link"
               asp-action="Index"
               asp-route-pageNumber="@(Model.PageIndex - 1)">
                Previous
            </a>
        </li>
        <li class="page-item @nextDisabled">
            <a class="page-link"
               asp-action="Index"
               asp-route-pageNumber="@(Model.PageIndex + 1)">
                Next
            </a>
        </li>
    </ul>
</nav>

@section Scripts
{
    <script>
        protectDeleteForm("form#contractDeleteForm")
    </script>
}
