@model Contract

@{
    ViewData["Title"] = "Clients";
}
<h2>Contract</h2>

<dl>


    <dt>@Html.DisplayNameForInnerType((Contract i) => i.Client)</dt>
    <dd>@($"{Model.Client.FirstName} {Model.Client.LastName}")</dd>

    <dt>@Html.DisplayNameForInnerType((Contract i) => i.Created)</dt>
    <dd>@Html.DisplayFor(model => Model.Created)</dd>
    
    <dt>@Html.DisplayNameForInnerType((Contract i) => i.Effective)</dt>
    <dd>@Html.DisplayFor(model => Model.Effective)</dd>
    
    <dt>@Html.DisplayNameForInnerType((Contract i) => i.Closed)</dt>
    <dd>@Html.DisplayFor(model => Model.Closed)</dd>
    
    <dt>@Html.DisplayNameForInnerType((Contract i) => i.Institution)</dt>
    <dd>@Model.Institution.Name</dd>

</dl>