@model Contract

@{
    ViewData["Title"] = "Contract Detail";
}

<h2>Contract</h2>
<p class="user-select-all text-body-secondary font-monospace">@Model.Id.ToString()</p>

<div class="mb-3">
    <a asp-controller="Contracts" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary">
        <i class="fa-solid fa-pen-to-square"></i> Edit
    </a>
    
    <form asp-controller="Contracts" asp-action="Delete" asp-route-id="@Model.Id" class="d-inline" data-confirm-form>
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-outline-danger">
            <i class="fa-solid fa-trash"></i> <span class="d-none d-lg-inline">Delete</span>
        </button>
    </form>
</div>

<div class="row g-5">

    <dl class="col-auto">
        <dt>@Html.DisplayNameForInnerType((Contract i) => i.Client)</dt>
        <dd>
            <a asp-area="" asp-controller="Clients" asp-action="Show" asp-route-id="@Model.Client.Id">
                @Model.Client.FullName
            </a>
        </dd>

        <dt>@Html.DisplayNameForInnerType((Contract i) => i.Admin)</dt>
        <dd>
            <a asp-area="" asp-controller="Consultants" asp-action="Show" asp-route-id="@Model.AdminId">
                @Model.Admin.FullName
            </a>
        </dd>

        <dt>@Html.DisplayNameForInnerType((Contract i) => i.Institution)</dt>
        <dd>@Model.Institution.Name</dd>


        <dt>@Html.DisplayNameForInnerType((Contract i) => i.Consultants)</dt>
        @if (!Model.Consultants.Any())
        {
            <dd>Contract has no assigned consultants</dd>
        }
        else
        {
            @foreach (var consultant in Model.Consultants)
            {
                <dd>
                    <a asp-area="" asp-controller="Consultants" asp-action="Show" asp-route-id="@consultant.Id">
                        @consultant.FullName
                    </a>
                </dd>
            }
        }

    </dl>

    <dl class="col-auto">
        <dt>@Html.DisplayNameForInnerType((Contract i) => i.Created)</dt>
        <dd>@Html.DisplayFor(model => Model.Created)</dd>

        <dt>@Html.DisplayNameForInnerType((Contract i) => i.Effective)</dt>
        <dd>@Html.DisplayFor(model => Model.Effective)</dd>

        <dt>@Html.DisplayNameForInnerType((Contract i) => i.Closed)</dt>
        <dd>@Html.DisplayFor(model => Model.Closed)</dd>
    </dl>

</div>
